{{>layout/header}}

<h1 style="text-align: center">게시판 목록</h1>

<div class="main-center" style="text-align: center">
    <div class="col-md-12">
        <div class="row" >
            <a href="/board/save" role="button" class="btn btn-primary"> 카테고리 추가 </a>
        </div>
        <br>
        <!---목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시판 이름</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#board_list}}
                <tr>
                    <td><a href="/boards/{{name}}">{{name}}</a></td>
                </tr>
            {{/board_list}}
            </tbody>
        </table>
        {{#number_of_board}}
            <a href="/board_list/{{.}}">{{.}}</a>
        {{/number_of_board}}
    </div>
</div>


{{>layout/footer}}