{{>layout/header}}
<div class="main-center">

    <h1 style="background-image : url('/img/everytime_header.jpg'); height: 100px; width: 800px; background-size: 300px; background-repeat: no-repeat; background-position: center">에브리타임 따라만들기</h1>
    <div style="background-image : url('/img/everytime_main.jpg'); height: 1200px; width: 800px; background-size: 500px; background-repeat: no-repeat; background-position: center; background-position: top" >
        <a href="/board_list" role="button" class="btn btn-primary" style="margin-bottom: 20px">게시판목록으로 가기</a>
        <br>
        <a href="/time_set" role="button" class="btn btn-secondary">시간표 목록으로가기</a>
    </div>


</div>


{{>layout/footer}}