{{>layout/header}}
<div class="main-center">

    <h1>에브리타임 따라만들기</h1>
    <div>
        <a href="/board_list" role="button" class="btn btn-primary" style="margin-bottom: 20px">게시판목록으로 가기</a>
        <br>
        <a href="/schedule_list" role="button" class="btn btn-secondary">시간표 목록으로가기</a>
    </div>


</div>


{{>layout/footer}}