{{>layout/header}}

<h1 style="text-align: center" class="schedule-name">{{Schedule}}</h1>
<div class="main-center-schedule" style="text-align: center">
    <div class="col-md-12">
        <div class="row">
            <button class="btn btn-primary" id="btn-schedule-add"> 시간표 저장 </button>
        </div>
        <br>
        <div class="divide-menu">
            <div class="subject-grid">
                <div class="times">
                    <div class="category"> 시간</div>
                    <div class="time">09:00</div>
                    <div class="time">10:00</div>
                    <div class="time">11:00</div>
                    <div class="time">12:00</div>
                    <div class="time">13:00</div>
                    <div class="time">14:00</div>
                    <div class="time">15:00</div>
                    <div class="time">16:00</div>
                    <div class="time">17:00</div>
                    <div class="time">18:00</div>
                    <div class="time">19:00</div>
                    <div class="time">20:00</div>
                    <div class="time">21:00</div>
                    <div class="time">22:00</div>
                </div>
                <div class="day monday">
                    <div class="category">월요일</div>
                </div>

                <div class="day tuesday">
                    <div class="category">화요일</div>
                </div>
                <div class="day wednesday">
                    <div class="category">수요일</div>
                </div>

                <div class="day thursday">
                    <div class="category">목요일</div>
                </div>
                <div class="day friday">
                    <div class="category">금요일</div>
                </div>
            </div>
            <div class="list-of-subject">
                {{#Subject}}
                    <div class="subjects">
                        <h4 id="{{id}}-name">{{name}}</h4>
                        <p id="{{id}}-startTime">{{startTime}}</p>
                        <p id="{{id}}-finishTime">{{finishTime}}</p>
                        <p id="{{id}}-credit">{{credit}}</p>
                        <p id="{{id}}-day">{{day}}</p>
                        <button onclick="add({{id}})" class="btn-primary" style="width: 100px; height: 30px">추가!</button>
                    </div>

                {{/Subject}}
            </div>
    </div>
</div>


{{>layout/footerToSchedule}}