{{>layout/header}}

<h1 style="text-align: center">시간표 목록</h1>

<div class="main-center" style="text-align: center">
    <div class="col-md-12">
        <div class="row" >
            <a href="/schedule/save" role="button" class="btn btn-primary"> 시간표 추가 </a>
        </div>
        <br>
        <!---목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>시간표 이름</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#schedule_list}}
                <tr>
                    <td><a href="/schedule/{{name}}">{{name}}</a></td>
                </tr>
            {{/schedule_list}}
            </tbody>
        </table>
        {{#number_of_schedule}}
            <a href="/schedule_list/{{.}}">{{.}}</a>
        {{/number_of_schedule}}
    </div>
</div>


{{>layout/footerToScheduleList}}